@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Inter:wght@300;400&display=swap');


*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

background:#f8f5ef;
color:#111;

font-family:Inter,sans-serif;

}



h1,h2{

font-family:'Cormorant Garamond',serif;

font-weight:600;

}




.hero{

height:100vh;

background:
linear-gradient(
rgba(0,0,0,.25),
rgba(0,0,0,.35)
),
url("https://images.unsplash.com/photo-1600607687939-ce8a6c25118c")
center/cover;


display:flex;

align-items:center;

justify-content:center;

text-align:center;

color:white;

}



.hero h1{

font-size:120px;

letter-spacing:8px;

text-transform:uppercase;

}



.hero p{

font-size:22px;

letter-spacing:3px;

margin:30px;

}




.btn{

border:1px solid white;

padding:18px 50px;

color:white;

text-decoration:none;

transition:.5s;

}



.btn:hover{

background:white;

color:black;

}





.section{

padding:140px 12%;

}





.big-text{

font-size:55px;

max-width:900px;

line-height:1.1;

}





.room{

display:grid;

grid-template-columns:1fr 1fr;

align-items:center;

gap:80px;

}



.room img{

width:100%;

height:700px;

object-fit:cover;

}





.room h2{

font-size:70px;

}





.experiences{

display:flex;

justify-content:space-around;

text-align:center;

}



.experiences h3{

font-family:'Cormorant Garamond';

font-size:45px;

}





.booking{

height:500px;

background:#111;

color:white;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

}



.booking h2{

font-size:80px;

}





@media(max-width:800px){


.hero h1{

font-size:60px;

}


.room{

grid-template-columns:1fr;

}


.experiences{

flex-direction:column;

gap:50px;

}

}
